.addJackPot {
  width: 100%;
  height: auto;

  .addJackPotContent {
    height: auto;
    padding: 24px;
    background: #fff;
    border-radius: 12px;

    .editorBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: auto;

      .editorTitle {
        line-height: 1;
      }
    }
  }
}
